*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
}
.card{
    width: 300px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    padding: 20px;
}
.card div{
    position: relative;
    overflow: hidden;
}
.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    opacity: 0;

    background: url(https://img.freepik.com/free-photo/psychedelic-colorful-background_23-2151944249.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    transform: translate(-50%, -50%) scale(0) rotate(60deg);
    transition: all cubic-bezier(.42,.58,.86,1.47) 0.4s;
}
.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}
.card h2{
    font-size: 20px;
    text-align: center;
    font-family:cursive;
}