*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#root, #root > div{
  height: 100%;
  width: 100%;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  padding-bottom: 30px;
}
nav .nav1 h2{
  font-size: 30px;
  font-weight: 500;
}
nav .nav2{
  width: 47%;
  display: flex;
  justify-content: space-between;
}
nav .nav2 i{
  padding: 5px 10px;
  border-radius: 15px;
  color: black;
  text-decoration: none;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
}
nav .nav2 i:first-child{
  border: 1px solid rgb(186, 186, 186);
}
nav .nav3{
  background-color: #0D1A2D;
  padding: 10px 20px;
  color: whitesmoke;
  border-radius: 20px;
}
nav .nav3 button{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: whitesmoke; 
  cursor: pointer;
}
.hero{
  margin: auto;
  height: 77%;
  width: 92%;
  background: url('./assets/hero-img.png');
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 -15px 30px rgba(0, 0, 0, 0.5) inset;
  margin-bottom: 40px;
}
.hero .hero-main1{
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  flex-direction: column;
  /* padding: 120px 50px; */
  gap: 25px;
}
.hero .hero-main1 h2{
  font-size: 50px;
  width: 62%;
  font-weight: 400;
  text-align: center;
}
.hero .hero-main1 h4{
  width: 45%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}
.hero .hero-main1 button{
  background-color: #0D1A2D;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 18px;
  color: whitesmoke; 
  border-radius: 20px;
  font-weight: 300;
  margin-top: -10px;
  cursor: pointer;
}
.hero .hero-main2{
  height: 20%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 30px 30px;
}
.hero .hero-main2 .left{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 35%;
}
.hero .hero-main2 .left .tagline{
  font-size: 14px;
  color: whitesmoke;
  text-shadow: 0.5px 0.5px 2px black;
}
.hero .hero-main2 .professionals{
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(10px);
  padding: 5px 10px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  min-width: fit-content;
}
.hero .hero-main2 .professionals img{
  height: 30px;
  width: 30px;
  background-size: cover;
  border-radius: 50%;
}
.hero .hero-main2 .right{
  display: flex;
  align-items: center;
  gap: 15px;
}
.hero .hero-main2 .right div{
  color: whitesmoke;
  cursor: pointer;
}
.hero .hero-main2 .right div span{
  text-decoration: underline;
  font-weight: 300;
  font-size: 14px;
  text-shadow: 0.5px 0.5px 2px black;
}

section .sec1{
  height: 100vh;
  width: 100%;
  padding: 30px 50px;
}
.sec1 .first-sec{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.first-sec .about{
  padding: 5px 10px;
  border-radius: 15px;
  color: black;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  border: 1px solid rgb(186, 186, 186);
}
.first-sec .about-text{
  font-size: 25px;
  width: 50%;
}
.second-sec{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 30px;
}
.second-sec .card{
  height: 325px;
  width: 400px;
  background-color: #0D1A2C;
  padding: 10px 20px;
  border-radius: 20px;
}
.second-sec .card .first{
  background: url('https://www.shutterstock.com/image-vector/tennis-field-flat-icon-on-260nw-501860464.jpg');
  background-position: center 0%;
  background-size: cover;
  mix-blend-mode:lighten;
  height: 80px;
  width: 80px;
}
.second-sec .card .second{
  font-size: 29px;
  padding: 0px 15px;
  color: #5C6A7C;
  font-weight: 300;
}
.second-sec .card .second span{
  color: whitesmoke;
}
.third{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.third .toggleContainer{
  height: 28px;
  width: 60px;
  background-color: #2DB3FF;
  border-radius: 15px;
  padding: 5px 7px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.third .toggleContainer .button{
  border: 5px solid white;
  width: 18px;
  height: 100%;
  border-radius: 50%;
}
.third .mode{
  color: #5C6A7C;
  font-size: 18px;
}
.card2{
  background: url('./assets/home-img1.avif');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 18px;
}
.card2 .desc{
  padding: 10px 25px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #acacac4d;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

.second-sec .card3{
  background-color: #F7F8FC;
  padding-top: 25px;
}
.card3 .proText h3 {
    font-size: 50px;
    font-weight: 500;
}
.card3 .proText h4 {
    font-weight: 500;
    padding: 5px 0px;
}
.card3 .proText p {
    font-weight: 300;
    line-height: 1.2;
    color: #5C6A7C;
}
.card3 .levels {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card3 .levels .level {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card3 .levels .level .points {
    display: flex;
    gap: 3px;
    justify-content: flex-start;
    width: 50%;
}
.card3 .levels .level .point {
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background-color: #2DB3FE;
}

.third-sec{
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.third-sec .third-tagline{
  font-size: 28px;
  font-weight: 300;
}
.third-sec .number-sec{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 70px;
}
.third-sec .number-sec .data-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.third-sec .number-sec .data-container h2{
  font-size: 40px;
  font-weight: 500;
}
.third-sec .number-sec .data-container p{
  color: #5C6A7C;
}