* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
}
html{
    overflow: hidden;
}
.mouse-follower {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
}
