:root{
    --pri: #F8F4E1;
    --sec: #381c0a;
    --tri1: #feba17;
    --tri2: #74512d;
    --red: red;
    --green: rgb(9, 138, 89);
    --blue: rgb(0, 191, 255);
    --black: black;
}
@font-face {
    font-family: aeonik;
    src: url(./assets/AeonikTRIAL-Regular.otf);
    font-weight: 500;
}
@font-face {
    font-family: aeonik-light;
    src: url(./assets/AeonikTRIAL-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: aeonik-bold;
    src: url(./assets/AeonikTRIAL-Bold.otf);
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik-bold;
    color: var(--pri);
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 35px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
}
.allElems header{
    height: 400px;
    width: 100%;
    background: url(./assets/heroimg.png);
    background-size: cover !important;
    background-position: center !important;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
header .header1 h1{
    font-size: 100px;
}
header .header1 h2{
    font-size: 50px;
    font-family: aeonik;
    font-weight: 500;
    margin-bottom: 20px;
}
header .header1 h4{
    font-size: 80px;
    font-family: aeonik;
    font-weight: 500;
}
header .header2 h2{
    font-size: 65px;
}
header .header2 h4{
    font-size: 40px;
    font-weight: 500;
    font-family: aeonik;
    margin-bottom: 10px;
    margin-top: -10px;
}
header .header2 h3{
    font-size: 25px;
    font-family: aeonik;
    font-weight: 500;
    margin-left: 5px;
}
section.allElems .allFeatures{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}
.elem{
    background-color: var(--tri1);
    height: 430px;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-size: 33px;
    font-weight: 500;
}
.elem:active{
    transform: scale(0.97);
}
.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    font-size: 50px;
    display: none;
    position: absolute;
}
.back{
    position: absolute;
    right: 5%;
    background-color: transparent;
    font-size: 55px;
    cursor: pointer;
    font-weight: 700;
    border: none;
}
.back i{
    color: var(--red);
}
.back:active{
    transform: scale(0.97);
}
.todo-list-fullpage h2{
    font-size: 65px;
}
.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask{
    width: 34%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
}
.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
}
.todo-container .addTask form input#task-input, .todo-container .addTask form textarea{
    padding: 15px 25px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 28px;
    outline: none;
    background-color: var(--pri);
    color: var(--sec);
    font-family: aeonik;
}
.todo-container .addTask form .imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 24px;
    width: 100%;
}
.todo-container .addTask form .imp #imp{
    width: 25px;
    height: 25px;
}
.todo-container .addTask form .imp label{
    font-family: aeonik;
}
.todo-container .addTask form button{
    padding: 15px 25px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 28px;
    outline: none;
    background-color: var(--tri1);
    font-weight: 700;
    transition: all ease 0.3s;
}
.todo-container .addTask form button:active{
    transform: scale(0.97);
}
.todo-list-fullpage .todo-container .allTask{
    width: 64%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    gap: 15px;
}
.todo-list-fullpage .todo-container .allTask .task{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pri);
    padding: 20px 30px;
    border-radius: 10px;
}
.task h5{
    color: var(--sec);
    font-size: 30px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.task h5 span{
    color: var(--pri);
    background-color: var(--red);
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
    /* margin-bottom: 15px; */
}
.task button{
    padding: 15px 30px;
    color: var(--pri);
    background-color: var(--green);
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.task button:active{
    transform: scale(0.97);
}
.task div{
    display: flex;
    align-items: center;
    gap: 10px
}
.task div i{
    color: var(--black);
    transition: all 0.5s ease;
    cursor: pointer;
}
.allTask .details{
    background-color: var(--pri);
    width: 100%;
    padding: 0px 30px;
    border-radius: 10px;
    margin-top: -10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.allTask .details p{
    color: var(--sec);
    font-size: 28px;
    font-family: aeonik;
    margin: 10px 0px;
    font-weight: 600;
}

.daily-planner-fullpage h2{
    font-size: 65px;
}
.daily-planner-fullpage .day-start-with{
    background-color: var(--tri2);
    display: flex;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    position: relative;
}
.daily-planner-fullpage .day-start-with p{
    font-size: 25px;
}
.daily-planner-fullpage .day-start-with .start-hour, .daily-planner-fullpage .day-start-with button{
    background-color: var(--sec);
    width: 60px;
    font-size: 20px;
    color: var(--pri);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 7px;
}
.daily-planner-fullpage .day-start-with button{
    width: fit-content;
    position: absolute;
    right: 5%;
    font-size: 20px;
    background-color: var(--red);
}
.daily-planner-fullpage .day-planner{
    background-color: var(--tri2);
    width: 100%;
    height: 84%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}
.daily-planner-fullpage .day-planner .day-planner-time{
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 30px;
}
.day-planner .day-planner-time input{
    padding: 20px 45px;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--sec);
    color: var(--pri);
    font-size: 32px;
    padding-top: 34px;
    font-family: aeonik;
    border-radius: 10px;
}
.day-planner .day-planner-time p{
    position: absolute;
    top: 10%;
    left: 2%;
    font-size: 18px;
    font-family: aeonik;
    color: var(--tri1);
}


.motivation-fullPage-container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.motivational-fullpage .motivation-container {
    height: 600px;
    width: 80%;
    border-radius: 50px;
    position: relative;
}

.motivational-fullpage .motivation-container::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--tri1);
    border-radius: 50px;
    scale: 1.15;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    z-index: 8;
}

.motivational-fullpage .motivation-container .motivation-wrapper {
    z-index: 10;
    position: absolute;

    width: 100%;
    background-color: var(--tri1);
    padding: 20px;
    border-radius: 30px;
    border: 6px solid var(--tri2);

}

.motivation-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.motivation-1 h2 {

    background-color: var(--tri2);
    padding: 30px;
    border-radius: 20px;
    font-size: 40px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
    text-align: right;
}

.motivation-2 {
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 30px;

}

.motivation-2 h1 {
    font-size: 65px;
    font-weight: 700;
    color: var(--sec);

}

.motivation-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.motivation-3 h2 {
    /* background-color: var(--tri2); */
    padding: 30px;
    border-radius: 20px;
    font-size: 40px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
    color: var(--sec);
}
.motivational-fullpage .motivation-container .motivation-wrapper img {
    position: absolute;
    right: 5%;
    opacity: 0.2;
    top: 5%;
    height: 120px;
}



.pomodoro-fullpage h2{
    font-size: 55px
}
.pomodoro-fullpage .session{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 15px 30px;
    font-size: 30px;
    border-radius: 5px;
    background-color: var(--green);
}
.pomodoro-fullpage .pomo-timer{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.pomo-timer h1{
    font-size: 170px;
}
.pomo-timer button{
    background-color: var(--tri2);
    padding: 15px 40px;
    font-size: 30px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    transition: all ease 0.1s;
    box-shadow: 5px 5px 5px var(--black);
}
.pomo-timer button:active{
    box-shadow: 0px 0px 0px var(--black);
    transform: scale(0.97);
}