:root{
    --pri: #F8F4E1;
    --sec: #381c0a;
    --tri1: #feba17;
    --tri2: #74512d;
    --red: red;
}
@font-face {
    font-family: aeonik;
    src: url(./assets/AeonikTRIAL-Regular.otf);
    font-weight: 500;
}
@font-face {
    font-family: aeonik-light;
    src: url(./assets/AeonikTRIAL-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: aeonik-bold;
    src: url(./assets/AeonikTRIAL-Bold.otf);
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik-bold;
    color: var(--pri);
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
}
.elem{
    background-color: #feba17;
    height: 430px;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-size: 33px;
    font-weight: 500;
}
.elem:active{
    transform: scale(0.97);
}
.fullElem{
    height: 100%;
    width: 100%;
    background-color: #381c0a;
    padding: 40px;
    font-size: 50px;
    display: none;
    position: absolute;
}
.back{
    position: absolute;
    right: 5%;
    background-color: transparent;
    font-size: 55px;
    cursor: pointer;
    font-weight: 700;
    border: none;
}
.back i{
    color: var(--red);
}
.back:active{
    transform: scale(0.97);
}
.todo-list-fullpage h2{
    font-size: 65px;
}
.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask{
    width: 34%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
}
.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
}
.todo-container .addTask form input#task-input, .todo-container .addTask form textarea{
    padding: 15px 25px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 28px;
    outline: none;
    background-color: var(--pri);
    color: var(--sec);
    font-family: aeonik;
}
.todo-container .addTask form .imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 24px;
    width: 100%;
}
.todo-container .addTask form .imp #imp{
    width: 25px;
    height: 25px;
}
.todo-container .addTask form .imp label{
    font-family: aeonik;
}
.todo-container .addTask form button{
    padding: 15px 25px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 28px;
    outline: none;
    background-color: var(--tri1);
    font-weight: 700;
    transition: all ease 0.3s;
}
.todo-container .addTask form button:active{
    transform: scale(0.97);
}
.todo-list-fullpage .todo-container .allTask{
    width: 64%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    gap: 15px;
}
.todo-list-fullpage .todo-container .allTask .task{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pri);
    padding: 20px 30px;
    border-radius: 10px;
}
.task h5{
    color: var(--sec);
    font-size: 30px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.task h5 span{
    color: var(--pri);
    background-color: var(--red);
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
    /* margin-bottom: 15px; */
}
.task button{
    padding: 15px 30px;
    color: var(--pri);
    background-color: green;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
.task button:active{
    transform: scale(0.97);
}
.task div{
    display: flex;
    align-items: center;
    gap: 10px
}
.task div i{
    color: black;
    transition: all 0.5s ease;
}
.todo-list-fullpage{
    display: block;
}
.allTask .details{
    background-color: var(--pri);
    width: 100%;
    padding: 0px 30px;
    border-radius: 10px;
    margin-top: -10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}
.allTask .details p{
    color: var(--sec);
    font-size: 28px;
    font-family: aeonik;
    margin: 10px 0px;
    font-weight: 600;
}
