:root{
    --pri: #F8F4E1;
    --sec: #381c0a;
    --ter1: #feba17;
    --ter2: #74512d;
}
@font-face {
    font-family: aeonik;
    src: url(./assets/AeonikTRIAL-Regular.otf);
    font-weight: 500;
}
@font-face {
    font-family: aeonik-light;
    src: url(./assets/AeonikTRIAL-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: aeonik-bold;
    src: url(./assets/AeonikTRIAL-Bold.otf);
    font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}
html , body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
}
.elem{
    background-color: #feba17;
    height: 430px;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-size: 33px;
    font-weight: 500;
}
.elem:active{
    transform: scale(0.97);
}
.fullElem{
    height: 100%;
    width: 100%;
    background-color: #381c0a;
    padding: 40px;
    font-size: 50px;
    display: none;
    position: absolute;
}
.back{
    position: absolute;
    right: 5%;
    top: 5%;
    background-color: transparent;
    font-size: 55px;
    cursor: pointer;
    font-weight: 700;
    border: none;
}
.back i{
    color: tomato;
}
.back:active{
    transform: scale(0.97);
}