*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
html{
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderAnimate {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
.box{
    max-width: 400px;
    padding-inline: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    background: linear-gradient(black) padding-box, conic-gradient(from var(--angle), black, goldenrod, black) border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    animation: borderAnimate 4s linear infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    box-shadow: 0 0 0px rgba(255, 0, 0, 1);
    color: whitesmoke;
    text-shadow: 0 0 0px lightblue;
    transition: all 0.3s linear;
}
.box:hover{
    color: gold;
    text-shadow: 0 0 10px lightblue;
    border-width: 5px;
    animation-play-state: running;
    box-shadow: 0 0 60px rgba(255, 0, 0, 1);
}
.box img{
    width: 100%;
}