*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.box{
    background-color: #222831;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box button{
    background-color: #00adb5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.box button:hover{
    transform: scale(1.05);
}
.box button:active{
    transform: scale(0.95);
}