*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    flex-direction: column;
}
.header{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    top: -25vh;
    position: relative;
    text-align: center;
}
.piano{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.key{
    height: 300px;
    width: 80px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, transform 0.1s;
    padding: 0px 0px 10px 0px;
}
.black{
    height: 200px;
    width: 50px;
    background-color: black;
    color: white;
    position: relative;
    top: 0px;
    z-index: 1;
    border-radius: 0 0 5px 5px;
}
.white:active{
    background-color: #ddd;
    transform: translateY(4px);
}
.black:active{
    background-color: rgb(90, 90, 90);
    transform: translateY(4px);
}
.active{
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transform: translateY(4px);
}