*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, black, rgb(27, 27, 27), rgb(30, 30, 30), black);
    padding: 20px;
}
section{
    height: 100%;
    width: 525px;
    margin: auto;
    background-color: black;
    border-radius: 10px;
}
.all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar{
    display: none;
}
.reel{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.reel .bottom{
    padding: 30px 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.reel .bottom .user{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}
.reel .bottom .user h4{
    font-weight: 500;
    font-size: 18px;
}
.reel .bottom .user button{
    padding: 2px 6px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.reel .bottom .user .followed{
    border: 1px solid gray;
    color: gray;
}
.reel .bottom .user img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-right: 10px; */
}
.bottom > h3{
    font-weight: 500;
    font-size: 22px;
}
.right{
    width: 40px;
    padding: 60px 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    /* transform: translateX(100%); */
    color: white;
}
.right .icon{
    font-size:38px;
    font-weight: 500;
    cursor: pointer;
}
.right .love{
    color: #ff4757;
}
.right h6{
    font-size: 18px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.right > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}