@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@font-face {
  font-family: Chillax;
  src: url(./assets/Chillax_Complete/Fonts/WEB/fonts/Chillax-Light.woff2)
      format("woff2"),
    url(./assets/Chillax_Complete/Fonts/WEB/fonts/Chillax-Light.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Satoshi;
  src: url(./assets/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2)
      format("woff2"),
    url(./assets/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #121212;
  color: #fff;
  font-family: "Roboto Mono", "Helvetica Neue", sans-serif;
}
html {
  font-size: clamp(14px, 1vw, 18px);
}
@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
main {
  width: 100%;
  section {
    div,
    h1 {
      font-family: "Chillax", sans-serif;
    }
    div p {
      font-family: "Satoshi", sans-serif;
    }
    button {
      font-family: "Roboto Mono", sans-serif;
    }
  }
  section > div > p {
    font-family: "Roboto Mono", sans-serif;
  }
  section.view1 {
    width: 100%;
    @include flex-column(1rem);
    padding: 1.1rem;
    .top {
      width: 100%;
      position: relative;
      border-radius: 0.7rem;
      overflow: hidden;
      img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        filter: contrast(0.95) brightness(0.8);
        transform: scale(1.1);
      }
    }
    .bottom {
      background-color: #1e1e1e;
      border-radius: 0.7rem;
      padding: 2rem;
      @include flex-column(4.5rem);
      p {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 300;
      }
      .text {
        @include flex-column(1rem);
        h1 {
          display: flex;
          flex-direction: column;
          line-height: 1.2;
          letter-spacing: 0.1rem;
          font-size: 2.5rem;
          font-weight: 100;
          text-transform: uppercase;
        }
        p {
          font-size: 1.35rem;
          line-height: 1.6;
          color: #ccc;
          opacity: 0.7;
        }
        button {
          width: fit-content;
          // padding: 0.7rem 1.5rem;
          font-size: 1rem;
          font-weight: 300;
          background-color: transparent;
          border: none;
          border-radius: 0.5rem;
          color: #fff;
          cursor: pointer;
          letter-spacing: 0.1rem;
          display: flex;
          align-items: center;
          gap: 0.8rem;
          span {
            background-color: #292929;
            padding: 0.3rem 0.6rem;
            border-radius: 50%;
            font-size: 1.5rem;
            border: 1px solid #6b6b6b5c;
          }
        }
      }
    }
  }
  section.view2 {
    // padding: 2rem;
    @include flex-column(2rem);
    width: 100%;
    padding: 1rem;

    .top,
    .bottom {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .element {
        text-align: center;
        small {
          font-size: 1rem;
          font-weight: 300;
          letter-spacing: 0.1rem;
          font-family: "Satoshi", sans-serif;
          opacity: 0.7;
        }
        h2 {
          font-size: 2.5rem;
          font-weight: 100;
          font-family: "Chillax", sans-serif;
        }
      }
    }
  }
  section.view3 {
    width: 100%;
    padding: 1.1rem;
    @include flex-column(1rem);
    .top {
      width: 100%;
      position: relative;
      img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        filter: contrast(0.95) brightness(0.8);
        transform: scale(1.1);
      }
      border-radius: 0.7rem;
      overflow: hidden;
    }
    .bottom {
      background-color: #1e1e1e;
      border-radius: 0.7rem;
      padding: 2.2rem;
      @include flex-column(4.5rem);
      p {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 300;
      }
      .text {
        @include flex-column(1rem);
        h1 {
          display: flex;
          flex-direction: column;
          line-height: 1.2;
          letter-spacing: 0.1rem;
          font-size: 3.5rem;
          font-weight: bold;
          text-transform: uppercase;
        }
        p {
          font-size: 1.1rem;
          line-height: 1.6;
          color: #ccc;
          opacity: 0.7;
        }
      }
    }
  }
  section.view5 {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
      font-size: 2rem;
      font-weight: 100;
      font-family: "Chillax", sans-serif;
    }
    button{
        display: none;
    }
  }
  section.view6{
    width: 100%;
    @include flex-column(1rem);
    padding: 1.1rem;
    .card:nth-child(1){
      background-image: url(./assets/img4.webp);
    }
    .card:nth-child(2){
      background-image: url(./assets/img5.webp);
    }
    .card:nth-child(3){
      background-image: url(./assets/img6.webp);
    }
    .card{
      width: 100%;
      aspect-ratio: 1/1;
      background-size: cover;
      border-radius: 0.7rem;
      padding: 1rem;
      @include flex-column(1rem);
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      .top{
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        padding: 1.5rem 2rem;
        .icon{
          font-size: 1.5rem;
          padding: 0.3rem 0.5rem;
          border-radius: 50%;
          width: fit-content;
        }
      }
      .top .icon, .bottom{
        background-color: rgba(148, 148, 148, 0.1);
        backdrop-filter: blur(35px);
        border: 1px solid #7a7a7aa5;
        z-index: 5;
      }
      .bottom{
        padding: 1rem 1.5rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        h2{
          font-size: 1.5rem;
          font-weight: 100;
        }
        p{
          font-family: 'Roboto Mono', sans-serif;
        }
      }
    }
  }
  section.view7{
    width: 100%;
    .top{
      img{
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        filter: contrast(0.95) brightness(0.8);
        transform: scale(1.1);
      }
    }
    .bottom{
      .text button span{
        font-size: 1.3rem;
        padding: 0.4rem 0.6rem;
      }
      .up{
        @include flex-column(0.5rem);
        p{
          font-family: 'Roboto Mono', sans-serif;
          opacity: 0.7;
        }
        h1{
          font-family: 'Chillax', sans-serif;
          text-transform: uppercase;
          font-size: 3.5rem;
          line-height: 1.1;
          font-weight: 100;
          font-weight: 100;
        }
      }
    }
  }
  section.view8{
    width: 100%;
    padding: 1.1rem;
    .container{
      width: 100%;
      padding: 2.3rem;
      background-color: #CDBD63;
      border-radius: 0.7rem;
      color: #1A1A1A;
      @include flex-column(1.5rem);
      .top{
        @include flex-column(0.5rem);
        p{
          font-family: 'Roboto Mono', sans-serif;
          font-weight: 400;
          letter-spacing: 0.1rem;
        }
        h2{
          font-family: 'Chillax', sans-serif;
          font-size: 3.5rem;
          font-weight: bold;
          line-height: 1;
          text-transform: uppercase;
        }
      }
      .bottom button{
          width: 100%;
          background-color: #121212;
          color: #fff;
          border: none;
          padding: 0.8rem 1.5rem;
          border-radius: 0.5rem;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 300;
          letter-spacing: 0.1rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
      }
    }
  }
  .image-noise {
        z-index: 2;
        background-image: url(./assets/img-noise.png);
         background-position: 0 0;
        background-size: 200px 200px;
        width: 100%;
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        height: 100%;
  }
}
@media (min-width: 900px) {
  main {
    section.view1 {
      flex-direction: row;
      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        padding: 4rem;
        justify-content: space-between;
        .text {
          h1 {
            font-size: 4rem;
            width: 80%;
          }
          p {
            font-size: 1.3rem;
          }
          button {
            margin-top: 2rem;
            font-size: 1em;
          }
        }
      }
    }
    section.view2 {
      padding: 3rem;
      flex-direction: row;
      .top,
      .bottom {
        .element {
          h2 {
            font-size: 4rem;
          }
        }
      }
    }
    section.view3 {
      flex-direction: row-reverse;
      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        padding: 3.5rem;
        justify-content: space-between;
        .text {
          @include flex-column(1rem);
          h1 {
            font-size: 3.5rem;
          }
          .paragraphs {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            p {
              width: 50%;
              // font-size: 1.1rem;
              font-size: 1.2rem;
              font-weight: 100;
            }
          }
        }
      }
    }
    section.view4 {
      flex-direction: row;
    }
    section.view5 {
      button {
        display: block;
        width: fit-content;
        // padding: 0.7rem 1.5rem;
        font-size: 1rem;
        font-weight: 300;
        background-color: transparent;
        border: none;
        border-radius: 0.5rem;
        color: #fff;
        cursor: pointer;
        letter-spacing: 0.1rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        span {
          background-color: #292929;
          padding: 0.3rem 0.5rem;
          border-radius: 50%;
          font-size: 1.2rem;
          font-weight: 100;
          border: 1px solid #6b6b6b5c;
        }
      }
    }
    section.view6{
      flex-direction: row;
    }
    section.view8 .container{
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding: 4rem;
      gap: 0.5rem;
      .top{
        width: 75%;
        h2{
          font-size: 5.5rem;
        }
      } 
      .bottom button{
        padding: 1.2rem 1.5rem;
      }
    }
  }
}
