@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@font-face {
  font-family: Chillax;
  src: url(./assets/Chillax_Complete/Fonts/WEB/fonts/Chillax-Regular.woff2) format("woff2"), url(./assets/Chillax_Complete/Fonts/WEB/fonts/Chillax-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Satoshi;
  src: url(./assets/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2) format("woff2"), url(./assets/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #121212;
  color: #fff;
  font-family: "Roboto Mono", "Helvetica Neue", sans-serif;
}

html {
  font-size: clamp(14px, 1vw, 18px);
}

main {
  width: 100%;
}
main section div, main section h1 {
  font-family: "Chillax", sans-serif;
}
main section div p {
  font-family: "Satoshi", sans-serif;
}
main section button {
  font-family: "Roboto Mono", sans-serif;
}
main section > div > p {
  font-family: "Roboto Mono", sans-serif;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 0.7rem;
  filter: contrast(0.92) brightness(0.8);
}
main section.view1 .bottom {
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
main section.view1 .bottom p {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view1 .bottom .text h1 {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  font-weight: 100;
  text-transform: uppercase;
}
main section.view1 .bottom .text p {
  font-size: 1.35rem;
  line-height: 1.6;
  color: #ccc;
  opacity: 0.7;
}
main section.view1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  font-weight: 300;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
main section.view1 .bottom .text button span {
  background-color: #292929;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  font-size: 1.5rem;
  border: 1px solid rgba(107, 107, 107, 0.3607843137);
}
main section.view2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}
main section.view2 .top, main section.view2 .bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main section.view2 .top .element, main section.view2 .bottom .element {
  text-align: center;
}
main section.view2 .top .element small, main section.view2 .bottom .element small {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-family: "Satoshi", sans-serif;
  opacity: 0.7;
}
main section.view2 .top .element h2, main section.view2 .bottom .element h2 {
  font-size: 2.5rem;
  font-weight: 100;
  font-family: "Chillax", sans-serif;
}
main section.view3 {
  width: 100%;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .top {
  width: 100%;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 0.7rem;
  filter: contrast(0.92) brightness(0.8);
}
main section.view3 .bottom {
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
main section.view3 .bottom p {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}
main section.view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .bottom .text h1 {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  font-weight: 100;
  text-transform: uppercase;
}
main section.view3 .bottom .text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ccc;
  opacity: 0.7;
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
  }
  main section.view1 .top, main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    padding: 4rem;
    justify-content: space-between;
  }
  main section.view1 .bottom .text h1 {
    font-size: 4rem;
    width: 80%;
  }
  main section.view1 .bottom .text p {
    font-size: 1.3rem;
  }
  main section.view1 .bottom .text button {
    margin-top: 2rem;
    font-size: 1em;
  }
  main section.view2 {
    padding: 3rem;
    flex-direction: row;
  }
  main section.view2 .top .element h2, main section.view2 .bottom .element h2 {
    font-size: 4rem;
  }
  main section.view3 {
    flex-direction: row-reverse;
  }
  main section.view3 .top, main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    padding: 3rem;
    justify-content: space-between;
  }
  main section.view3 .bottom .text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  main section.view3 .bottom .text h1 {
    font-size: 3rem;
  }
  main section.view3 .bottom .text .paragraphs {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  main section.view3 .bottom .text .paragraphs p {
    width: 45%;
    font-size: 1.2rem;
    font-weight: 100;
  }
}/*# sourceMappingURL=style.css.map */