*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
:root{
    --x: 400px;
    --y: 400px;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
.box{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(200px at var(--x) var(--y), transparent, rgba(0, 0, 0, 0.9));
    transition: all 0.1s ease-in-out;
    z-index: 10;
}