*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    padding: 20px;
    gap: 20px;
    
}
.card{
    background-color: ghostwhite;
    height: 450px;
    width: 325px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card .avatar{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}
.card .name{
    font-size: 30px;
}
.card .profession{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.card .description{
    font-size: 20px;
    text-align: center;
    color: gray;
}