*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    gap: 30px;
}
.box{
    width: 400px;
    height: 300px;
    transition: all 0.3s ease;
}
.box img{
    width: 100%;
    height: 100%;
}
.box:hover{
    transform: scale(1.2) !important;
    opacity: 1 !important;
}
body:has(.box:hover) .box{
    transform: scale(0.6);
    opacity: 0.8;
}