*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f0f0f;
}

.card{
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    text-align: center;
}
.card p{
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}
.card p span{
    font-weight: 600;
    color: royalblue;
    text-decoration: underline;
}
.outer{
    background-color: gray;
    width: 100%;
    border-radius: 50px;
    height: 15px;
    overflow: hidden;
}
.inner {
  height: 100%;
  width: 0%;
  border-radius: 50px;
  background-color: limegreen;
}
.bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}
.bottom h2{
    font-size: 50px;
    font-family: monospace;
}
.bottom button{
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
.bottom button:hover{
    background-color: darkgreen;
}
.bottom button:active{
    scale: 0.96;
}
.card h3 span{
    color: crimson;
}